.form{
    font-family: 'Yusei Magic', sans-serif;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    width: 350px;
    border: 4px dotted #D6BCFA;
    border-radius: 6px;
    margin-bottom: 25px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
}
.label{
    display: flex;
    font-size: 20px;
}
.btn{
    background-color: blueviolet;
    width: 50px;
    align-self: center;
    border: none;
    color:rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 8px;
    transition: background-color linear 250ms;
}
.btn:hover{
    background-color:rgb(160, 59, 255)
}
.input{
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;
}