.auth {
    display: inline-block;
    padding: 26px;
    font-family: 'Yusei Magic', sans-serif;
    font-weight: 700;
    font-size:  25px;
    text-transform: uppercase;
    color: white;
    transition: color linear 250ms;
    /* background-color:teal ; */
  }
  .auth:hover .auth:focus{
    color:black;
  }