.list{
    font-family: 'Yusei Magic', sans-serif;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
.item{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap:25px;
    align-items: center;
    width: 350px;
    justify-content:space-between;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn{
    height: 32px;
    width: 32px;
    text-align: center;
    border: 0.5px solid black ;
    border-radius: 50px;
    background-color:rgba(240, 248, 255, 0);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(255, 0, 0);
}